.layout {

    .header {

        background-color: #612203;

        h1 {
            margin: 0;
            font-size: 45px;
            color: #ee6206;
            text-shadow: 3px 3px 10px black;
            text-align: center;
        }
    }

    .left {
        background-color: #333;
        color: white;
    }

    .scoreContainer {

    }

    .items {
        padding: 10px;
        border: none;
        border-top: 1px solid #e3af4a;
        border-bottom: 1px solid #e3af4a;

        background-color: #350c04;
        color: black;
    }

    .footer {
        background-color: #999;
        color: black;
    }

}
