.layout {

    .defaultItemButton {
        outline: none;
        box-sizing: border-box;
        padding: 20px;
        margin: 0;
        background-color: chocolate;
        border: none;
        width: 100%;
        transition: all 0.1s;

        &:hover {
            background-color: lightslategray;
        }

        &:active {
            background-color: slategray;
        }
    }

    .header {
        background-color: #323232;
        color: #fef04b;
        text-shadow: 2px 2px 2px black;

        h1 {
            text-align: center;
        }
    }

    .left {
        background-color: #333;
        color: white;
    }

    .items {
        border: none;
        border-top: 1px solid #e3af4a;
        border-bottom: 1px solid #e3af4a;

        background-color: #350c04;
        color: black;
    }

    .footer {
        background-color: #999;
        color: black;
    }

}
