.game {
  padding: 0;

  .appTitle {

    background-color: #612203;

    h1 {
      margin: 0;
      font-size: 45px;
      color: #ee6206;
      text-shadow: 3px 3px 10px black;
      text-align: center;
    }
  }

  .navigation {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(6, 1fr);

    button {
      outline: none;
      box-sizing: border-box;
      background-color: white;
      color: #333;
      padding: 2px;
      display: inline-block;
      grid-column: auto;
      grid-row: 1;
      border: 1px solid #444;
    }
  }

  .view {

  }
}
